#center {
    text-align: center;
}
#cartTable {
    margin: auto;
}

table, tr, td {
    border-collapse : collapse;
    cursor: default;
    text-align: center;
}

img {
    width: 70px;
}

td {
    padding: 0 10px 0 10px;
}